# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries used by DS
- Display table of popular DS development tools
- Arithmetic expression for multiplication and addition
- Conversion from minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. Tensorflow
4. ggplot
5. plotly
6. matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|JupyterLab|
|Rstudio|
|VScode|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Krishna Kumar Mishra